# POSTGRESQL CONFIGURATION
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/kamann
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin

# SERVER CONFIGURATION
SERVER_PORT=8080

# MAIL CONFIGURATION
MAIL_USERNAME=<given by administration>
MAIL_PASSWORD=<given by administration>

# JWT CONFIGURATION
JWT_SECRET=<given by administration>
JWT_EXPIRATION_TIME=9000000

# MAILING LOCAL
CONFIRMATION_LINK=http://localhost:8080/api/v1/auth/confirm?token=
RESET_PASSWORD_LINK=http://localhost:8080/api/v1/auth/reset-password?token=

# MAILING PROD
CONFIRMATION_LINK_PROD=<given by administration>
RESET_PASSWORD_LINK_PROD=<given by administration>
